#METTRE LES FICHIERS A IGNORER DANS GIT ICI
.DS_Store
.ipynb_checkpoints
*.egg-info
*~
.*.swp
.DS_Store
.gitattributes
.idea
.idea/
.ipynb_checkpoints
.pixi
/shelf/
/workspace.xml
__pycache__
pixi.lock
pixi.toml
