#METTRE LES FICHIERS A IGNORER DANS GIT ICI
# note de manon : attention risque de push des secret dans le dépot gitlab (forbiden)
# il faudra trouver une solution plus propre 

# on inhibe le fichier .env
# on ne veut pas voir de secrets commités sur le dépot
# meme si on l'utilise en local et qu'on le modifie avec nos propres identifiants
.env

# on inhibe le repertoire data
# on ne veut pas voir son contenu commité sur le dépot
# meme si on l'utilise en local
data/

*.egg-info
*~
.*.swp
.DS_Store
.gitattributes
.idea
.idea/
.ipynb_checkpoints
.pixi
/shelf/
/workspace.xml
__pycache__
pixi.lock
pixi.toml
# OS X
.DS_Store?
.DS_Store
.AppleDouble
.LSOverride
Icon
._*

# Windows
ehthumbs.db
Thumbs.db

# Vim
.local.vimrc
.*.sw[a-z]
*.un~
Session.vim
.netrwhist

# Ruby
.sass-cache
.rbenv-vars
.rvmrc
.ruby-version

# Ctags
tags
tags-ja

# Node
node_modules

