Bottleneck==1.4.2
Brotli==1.0.9
certifi==2025.1.31
charset-normalizer==3.3.2
cramjam==2.7.0
fastparquet==2024.2.0
fsspec==2024.12.0
idna==3.7
numexpr==2.10.1
numpy==1.26.4
packaging==24.2
pandas==2.2.3
pip==25.0
plotly==5.24.1
psycopg2==2.9.9
PySocks==1.7.1
python-dateutil==2.9.0.post0
pytz==2024.1
requests==2.32.3
ruff==0.9.6
setuptools==75.8.0
six==1.16.0
tenacity==9.0.0
tzdata==2023.3
urllib3==2.3.0
wheel==0.45.1
